.page_two_section_two form{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: '.';
    gap:20px 20px;
    margin-bottom: 30px;
}
.page_two_section_two form .page_two_extra_detail{

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: '. . .';
    gap:20px 20px;
    background-color: #fff;
    border:1px solid gray;
    padding: 20px 15px;
}
.page_two_section_two form .page_two_extra_detail_parttwo{

    display: grid;
    grid-template-columns:3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: '. .';
    gap:20px 20px;
    background-color: #fff;
    border:1px solid gray;
    padding: 20px 15px;
}
.page_two_extra span{
display: flex;
}
.page_two_extra span > h2{
    margin: 0px;
    font-size: 18px;
}
.page_two_extra span strong{
    font-size: 18px;
    padding: 0px 15px;
}
.page_two_extra_quantity{
border-left:1px solid gray;
border-right:1px solid gray;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.page_two_extra_quantity span{
    margin-bottom: 5px;
}
.page_two_extra_quantity span i{
    cursor: pointer;
    font-size: 22px;
    padding: 0px 3px;
    color:#09afee;    
}
    .page_two_extra_quantity strong{
        font-size: 20px;
    }
    .extra_select_btn{
display: flex;
align-items: center;
    }
    .extra_select_btn button{
        color: #fff;
background-color: #147b22;
padding: 10px;
border: none;
width: 100%;
font-size: 20px;
font-weight: 500;
border-radius: 50px;    
}
    .continuous_btn{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .continuous_btn .back a{
        background-color: #147b22;
        text-decoration: none;
        color: #fff;
        font-size: 19px;
        padding: 9px 50px;
        border-radius: 50px;
        transition: 0.3s ease-in-out;
        float: left;
     }
     .continuous_btn .back a:hover{
       background-color: #fff;
       color: #147b22;
        border:2px solid #147b22;
     }
    .continuous_btn .next a{
        background-color: #0070C0;
        text-decoration: none;
        color: #fff;
        font-size: 19px;
        padding: 9px 50px;
        border-radius: 50px;
        transition: 0.3s ease-in-out;
        float: left;
     }
     .continuous_btn .next a:hover{
       background-color: #fff;
       color: #0070C0;
        border:2px solid #0070C0;
     }

     .page_two_booking_complete_summary{
      background-color: #e5a600;
      float: left;
      width: 100%;
      padding: 10px 10px; 
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
    .transfer_detail_box{
        float: left;
        width: 100%;
        padding: 10px 10px; 
        border:1px solid gray;
        margin-bottom: 10px;
        background-color: #fff;
    }
    .pickup_detail_box{
      display: flex;
      width: 100%;
      flex-direction: column;
      border-bottom: 1px solid gray;
      padding-top: 20px;
    }
    .pickup_detail_box h4{
    padding-bottom: 12px;
color: gray;
font-size: 20px;
    }
    .where_from{
      display: flex;
      align-items: center;
      padding-bottom: 25px;
    }
    .where_from i{
        font-size: 20px;
        color: gray;
    }
    .where_from .where_from_location{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    width: 100%;
    }
    .where_from .where_from_location span{
        font-weight: normal;
font-size: 14px;
color: gray;
    }
    .where_from .where_from_location p{
        font-weight: normal;
font-size: 14px;
color: gray;
    }

    #laptop_booking_summary{
      display: block;
    }
    #mobile_booking_summary{
        display:none;
     }

     .booking_page_one_price_detail{
        border: 1px solid gray;
        background-color: #ffff;
        padding: 20px 15px;
        margin-bottom: 20px;
        float: left;
        width: 100%;
    }
    .booking_page_one_price_detail h2{
        margin-bottom: 15px;
    justify-content: left;
    display: flex;
    
    }
    .booking_page_one_total_price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    }
    .booking_page_one_total_price h3{
        color: #252525;
        font-weight: normal;
    }

     /* Responsive */
    /*Tablet*/
    @media (min-width: 768px) and (max-width: 1024px) {
     
        .page_two_section_two form .page_two_extra_detail {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: '. .';
     }
     .extra_select_btn button {
         width: 43%;
     }
     .page_two_section_two form .page_two_extra_detail_parttwo {
        grid-template-columns: 1fr;
        grid-template-areas: '.';
     }
     .page_two_section_two form .page_two_extra_detail_parttwo > .extra_select_btn > button{
        width: 28%;
     }
        }
    
    /*mobile rotation*/
    @media (max-width: 767px) {
        .page_one_vehical_selection .page_one_vehical {
            grid-template-columns: 0.7fr 1fr;
        }
        .page_two_section_two form .page_two_extra_detail {
            grid-template-columns:1fr;
            grid-template-areas: '.';
             }
             .page_two_extra_quantity {
                border-top: 1px solid gray;
                border-bottom: 1px solid gray;
                border-left: 0px;
                border-right: 0px;
                padding:10px 0px;
            }
             .extra_select_btn button {
                 width: 43%;
             }
             .page_two_section_two form .page_two_extra_detail_parttwo {
                grid-template-columns: 1fr;
                grid-template-areas: '.';
             }
             .page_two_section_two form .page_two_extra_detail_parttwo > .extra_select_btn > button{
               width: 43%;
             }
             .continuous_btn {
                flex-direction: column;
                align-items: center;
                
            }
            .continuous_btn .back{
                margin-bottom: 10px;
            }
       
    }
       /*mobile*/ 
        @media (max-width: 540px) { 
            .page_one_vehical_selection .page_one_vehical {
                grid-template-columns: 1fr;
            }
            #laptop_booking_summary{
                display: none;
              }

              #mobile_booking_summary{
                 display: block;
              }
        }
        @media (max-width: 425px) { 
           
       
        }
        @media (max-width: 325px) { 
    
        
        
        }